/* menu atas */
.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
/*background image */
.bgimage {
    height:100vh;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi7dUp54LGWAhgpkl8qnJpontqk-2-ZevBIo8VxfsoXe4jOOtNvZTvtb8cRB6NxWkwJsnNkcJc-2fDQnVqD3hy87Gi0_9XthyvcVw_9HSlE06Do6fpafenmzSw0sRwosrN_lgoocEFoh8xK5bqZsdjnys3KiPbWQQClRylDd7LHDeJgUKizNvzlX0vluw/s1920/Recomendation%20Aesthetic%20Minimalistic%20Wallpaper%20Desktop%20Background%20%2010.jpg");
    background-size:cover;
    position:relative;
}
/*above hero image*/
.hero_title {
    text-align: justify;
    padding-top: 3.5rem;
    font-family: "Times New Roman", Times, Serif;
}
.hero_desc {
    text-align: justify;
    font-size: 2rem;
    font-family:"Times New Roman", Times, Serif;
}
.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image */
.imageAboutPage {
    width: 100%;

}

/* services section */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #00a2ff;
}
.servicesText:hover {
    border: 1px solid #00a2ff;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    color: #DD2A7B;
}
.fa-whatsapp:hover{
    color:#25D366;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}